/*Start variables*/
:root{
    --main-color:#10cab7;
    --secondary-color:#2c4755;
    --section-padding:60px 0px;
    --section-background:#f6f6f6;
    --text-color:#777;
}
/*End variables*/
/* Start Globel Rules*/
*{
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    margin:0;
    padding:0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Work Sans', sans-serif;
}
.container{
    padding:0 15px;
    margin:0 auto;
}
/*small*/
@media(min-width:768){
    .container{
        width:750
    }
}
/*maduim*/
@media(min-width:992px){
    .container{
        width:970px
    }
}
/*large*/
@media(min-width:1200px){
    .container{
        width:1170px
    }
}
/* End Globel Rules*/
/*Start components*/
.special-heading{
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: bolder;
    letter-spacing: -1px;
    margin: 0px;
}
.special-heading + p{
    margin: -30px 0 0;
    text-align: center;
    font-size: 20px;
    color:var(--text-color);
}
@media (max-width: 767px){
    .special-heading{
        font-size: 60px;  
    }
    .special-heading + p{
        margin:-20px 0 0;
    }
}
/*End components*/
/*Start Header*/
.header{
    padding:20px;
}
.header .container{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo{
    width:70px;
}
.header .links{
    position: relative;
}
.header .links:hover ul{
    display:block
}
.header .links:hover .icon span:nth-child(2){
    width:100%
}
.header .links .icon{
    width:30px;
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
}
.header .links .icon span{
    background-color: #000;
    margin-bottom: 5px;
    height:2px;
}
.header .links .icon span:first-child{
    width:100%
}
.header .links .icon span:nth-child(2){
    width:60%;
    transition: all 1s ;
    -webkit-transition: all 1s ;
    -moz-transition: all 1s ;
    -ms-transition: all 1s ;
    -o-transition: all 1s ;
}
.header .links .icon span:last-child{
    width:100%
}
.header .links ul{
    list-style: none;
    position: absolute;
    right: 0;
    margin: 0;
    padding: 0;
    min-width: 200px;
    background: rgb(235, 233, 233);
    top:calc(100% + 10px);
    display:none;
    transition: .3s all;
    -webkit-transition: .3s all;
    -moz-transition: .3s all;
    -ms-transition: .3s all;
    -o-transition: .3s all;
    z-index: 1;
}
.header .links ul::before{
    content: "";
    border-width: 10px;
    border-color: transparent transparent #DDD transparent;
    border-style: solid;
    position: absolute;
    top: -20px;
    right: 5px;
}
.header .links ul a{
    display:block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    transition: .3s all;
}
.header .links ul a:hover{
    padding-left:25px;
}
.header .links ul li:not(:last-child) a{
    border-bottom:1px solid #ddd
}
/*End Header*/

/*Start Landing Section*/
.landing{
    background: url(../images/landing.jpg);
    background-size: cover;
    height:calc(100vh - 75px)
}
.landing .intro-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 320px;
    max-width: 100%;


}
.landing .intro-text h1{
    margin:0px;
    font-weight: bold;
    font-size: 50px;
    color:var(--main-color)
}
.landing .intro-text p{
    font-size:19px;
    line-height:1.8;
}
/*End Landing Section*/
/*Start Features*/
.features{
    padding:var(--section-padding);
    background-color: var(--section-background);
}
.features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap:20px
}
.features .feat{
    padding:20px;
    text-align: center;
}
.features .feat i{
    color:var(--main-color);
    font-size: 40px;
}
.features h3{
    font-weight: 800;
    margin:30px 0;
}
.features p{
    line-height: 1.8;
    color:var(--text-color);
    font-size: 17px;
}
/*End Features*/
/*Start Services*/
.services{
    padding:var(--section-padding);
}
.services .services-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    grid-gap: 30px;
    margin-top: 100px;
}
.services .services-content .srv{
    display:flex;
    margin-bottom: 40px;
    padding:0 10px
}
@media (max-width:767px)
{
    .services .services-content .srv{
        flex-direction: column;
        text-align: center;
    }
}
.services .services-content .srv i{
    color:var(--main-color);
    flex-basis: 60px;
}
.services .services-content .srv .text{
    flex:1;
}
.services .services-content .srv .text h3{
    margin:0 0 20px;
}
.services .services-content .srv .text p{
    color:var(--text-color);
    font-weight: 300;
    line-height: 1.8;
}
.srv .image{
    position: relative;
}
.srv .image::before{
    content: "";
    position: absolute;
    background-color: var(--text-color);
    width: 100px;
    height: calc(100% + 100px);
    top: -50px;
    right: -20px;
    z-index: -1;
    }
.srv .image img{
    width:260px;
    height:175px
}
.srv .image::after {
    content: '';
    top: -50px;
    left: -30px;
    position: absolute;
    width: 100px;
    height: 250px;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    z-index: -1;
}
@media (max-width:1199px){
    .srv .image img,
    .srv .image::after,
    .srv .image::before{
        display: none;
    }
}
/*End Services*/
/* Start Portfolio */
.portfolio{
    padding:var(--section-padding);
    background-color:var(--section-background);
}
.portfolio .portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    margin-top: 80px;
}
.portfolio-content .card{
    background-color: #FFF;
}
.portfolio-content .card img{
    max-width: 100%;
}
.portfolio-content .card .info{
    padding:20px;
}
.portfolio-content .card .info h3{
    margin:0;
}
.portfolio-content .card .info p{
    color:var(--text-color);
    line-height: 1.8;
    margin-bottom: 0px;
}
/* End Portfolio */
/* Start About */
.about{
    padding:calc(var(--section-padding)+60px);
}
.about-content{
    margin-top: 100px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media (max-width: 991px){
    .about-content{
        flex-direction:column ;
        text-align: center;
    }
}
.about-content .image{
    position: relative;
    width:250px;
    height:375px;
}
@media (max-width: 991px){
    .about-content .image{
        margin: 0 auto 60px;
    }
}
.about-content .image::before{
    content:"";
    position: absolute;
    background-color: var(--text-color);
    width:100px;
    height:calc(100% + 80px);
    top:-40px;
    left:-20px;
    z-index: -1; 

}
.about-content .image::after{
    content:'';
    top:-40px;
    right:-150px;
    position:absolute;
    width:100px;
    height:250px;
    border-left:80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    z-index: -1;
}
.about-content .image img{
    max-width:100%;
}
@media (max-width:991px){
    .about-content .image::after ,
    .about-content .image::before{
        display:none;
    }
}
.about-content .text{
    flex-basis: calc(100% - 500px);
}
.about-content .text p:first-of-type{
    font-weight:bold;
    line-height: 2;
    margin-bottom: 50px;
}
.about-content .text hr{
    width:50%;
    display: inline-block;
    border-color: var(--main-color);
}
.about-content .text p:last-of-type{
    line-height: 2;
    color:var(--text-color);
}
/* End About */
/* Start Contact */
.contact{
    padding:var(--section-padding);
    background-color: var(--section-background);
}
.contact .info{
    padding:var(--section-padding);
    text-align: center;
}
.contact .info .label{
    font-size:35px;
    font-weight: 800;
    color:var(--secondary-color);
    letter-spacing: -2px;
    margin-bottom: 15px;
}
.contact .info .link{
    display:block;
    font-size:35px;
    font-weight: 800;
    color:var(--main-color);
    text-decoration: none;
}
.contact .info .social{
    display:flex;
    justify-content: center;
    margin-top:20px;
    font-size: 16px
}
.contact .info .social i{
    margin-left: 10px;
    color:var(--secondary-color);
}
@media (max-width:767px){
        .contact .info .label,
        .contact .info .link {
          font-size: 25px;
        }
}
/* End Contact */
/* Start Footer */
.footer {
    background-color: var(--secondary-color);
    color: white;
    padding: 30px 10px;
    text-align: center;
    font-size: 18px;
  }
  .footer span {
    font-weight: bold;
    color: var(--main-color);
  }
  /* End Footer */
